@import-normalize;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --brand-color: #0a6c74;
  --bg-color: #f0f4f8;
  --accent-color: #bef8fd;
  --neutral-color: #d9e2ec;
  --dark-color: #102a43;
}

#root {
  background-color: var(--bg-color);
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgb(179, 179, 179);
  /* overflow: hidden; */
  overflow: scroll;
  width: 400px;
}

.title {
  margin-bottom: 40px;
}

.form-group {
  background-color: var(--brand-color);
  color: #fff;
  padding: 20px 20px 15px;
}

.form-group input {
  background-color: rgba(0, 0, 0, 0.3);
  border: 0;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  padding: 10px 15px;
  width: 100%;
  margin-bottom: 10px;
}

.form-group input:focus {
  outline: none;
}

.filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.filter .sort {
  position: relative;
  top: -4px;
  padding-right: 5px;
  font-size: 14px;
  font-weight: 600;
}

.filter div {
  cursor: pointer;
  position: relative;
  top: 2px;
  margin-left: 8px;
}

.friend-list {
  background-color: #fff;
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-height: 100%;
  min-height: 391px;
  overflow-y: auto;
}

.friend-list li {
  display: flex;
  padding: 20px;
}

.friend-list img {
  border-radius: 50%;
  object-fit: cover;
  height: 50px;
  width: 50px;
}

.friend-list li:not(:last-of-type) {
  border-bottom: 1px solid var(--neutral-color);
}

.friend-list li.hide {
  display: none;
}

.btn {
  display: inline-block;
  margin: 0;
  padding: 0.25rem 1rem;
  border: 0;
  border-radius: 5px;
  background-color: #fff;
  color: var(--brand-color);
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin: 15px 20px 10px;
}

/* utilities */

h1,
.h1 {
  font-size: 32px;
}

h2,
.h2 {
  font-size: 16px;
}
h3,
.h3 {
  font-size: 14px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.underline::after {
  content: "";
  display: block;
  width: 40px;
  padding-top: 4px;
  border-bottom: 4px solid var(--brand-color);
  z-index: -1;
}

.error {
  color: var(--accent-color);
  font-size: 14px;
  padding-bottom: 6px;
}

.bold {
  font-weight: bold;
}
